@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

body{
  font-family: "Open Sans", sans-serif;
}


.lilac{
  color: #A49ACF;
}

.lime{
  color: #CAFF45;
}

.gry{
  color: #686382;
}